@charset "UTF-8";

/* ===================================================================
CSS information
 file name  :  style.css
 style info : LPスタイル
=================================================================== */
body {
	background-color: #f2f2f2;
	font-family: "Hiragino Sans W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", 'Noto Sans JP', sans-serif, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-feature-settings: "palt";
	scrollbar-width: none;
}

.content {
	width: 750px;
	overflow-x: hidden;
	max-width: 100%;
	margin: 0 auto 10%;
	text-align: center;
	-webkit-box-shadow: 0 0 10px 2px #d6d6d6;
	-moz-box-shadow: 0 0 10px 2px #d6d6d6;
	box-shadow: 0 0 10px 2px #d6d6d6;
	background: url(../images/fv_bg_02.png)no-repeat center top 70px/ 100%, url(../img/bg_02.png)no-repeat center bottom/ 100%, url(../img/about_bg.png)no-repeat center top 23.5%/ 100%;
}

@media only screen and (max-width: 750px) {
	.content {
		background: url(../images/fv_bg_02.png)no-repeat center top calc(70 / 750 * 100vw)/ 100%, url(../img/bg_02.png)no-repeat center bottom/ 100%, url(../img/about_bg.png)no-repeat center top 23.5%/ 100%;
	}
}

.fv .relative_box:nth-of-type(3) {
	background: url(../images/fv_bg.png) no-repeat center top 100%/ 100%;
}

.fv .cv {
	background: none;
}

.fv .cv_btn {
	top: 10%;
}

.effect {
	background: url(../images/effect_bg.png) no-repeat center top 100%/ 100%;
}

.effect .more_item .btn_more-on {
	position: absolute;
	top: 0;
	opacity: 0;
	transition: 0.2s linear;
}

.effect .more_item .btn_more-on.active {
	opacity: 1;
}

.effect .more_item .btn_more::after {
	right: 95px;
}

@media only screen and (max-width: 750px) {
	.effect .more_item .btn_more::after {
		right: calc(95 / 750 * 100vw);
	}
}

.cv {
	background: url(../images/cv_bg.png) no-repeat center top/ 100%;
	position: relative;
	padding-bottom: 4%;
}

.cv_btn {
	position: absolute;
	top: 20%;
	left: 51.5%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	width: calc(718/750 * 100vw);
	max-width: 718px;
}

.cv_btn img {
	-webkit-animation: move_btn 2s ease-in infinite;
	animation: move_btn 2s ease-in infinite;
}

.cv_btn_line {
	position: relative;
	left: 51.5%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	width: calc(627/750 * 100vw);
	max-width: 627px;
	margin-top: 10px;
}

.cv_fixed {
	width: 100%;
	max-width: 750px;
	height: 140px;
	background: url(../images/fixed_cv_bg.png);
	position: fixed;
	display: flex;
	align-items: center;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	z-index: 10;
	/*デフォルトで非表示にする*/
	opacity: 0;
	transition: 0.3s;
}

@media only screen and (max-width: 750px) {
	.cv_fixed {
		height: calc(140 / 750 * 100vw);
	}
}

/*このクラスが付与されると表示する*/
.cv_fixed.active{
  opacity: 1;
}

.cv_fixed_btn_line,
.cv_fixed_btn {
	width: 50%;
	filter: drop-shadow(15px 0 30px rgba(0, 57, 123, 0.35));
}

.reason {
	background: url(../images/variety_bg.png) repeat center top;
	position: relative;
	scrollbar-width: none;
}

.reason_chart {
	max-width: 700px;
	width: calc(700/750 * 100vw);
	margin: 0 auto;
	height: calc(1060/750 * 100vw);
	max-height: 1060px;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
	scrollbar-width: none;
	-ms-overflow-style: none;
	cursor: pointer;
}

.reason_chart::-webkit-scrollbar {
	display: none;
}

.reason_chart img {
	width: calc(1161/750 * 100vw);
	max-width: 1161px;
	height: auto;
}

.more_item .btn_more {
	position: relative;
	cursor: pointer;
}

.more_item .btn_more::after {
	content: "";
	display: block;
	position: absolute;
	background: url(../images/icon_arrow.png) no-repeat center / contain;
	width: 35px;
	height: 35px;
	top: 20px;
	right: 265px;
}

@media only screen and (max-width: 750px) {
	.more_item .btn_more::after {
		width: calc(35 / 750 * 100vw);
		height: calc(35 / 750 * 100vw);
		top: calc(20 / 750 * 100vw);
		right: calc(265 / 750 * 100vw);
	}
}

.more_item .btn_more.open::after {
	transform: rotate(180deg);
}

.more_item .more_content {
	display: none;
}

.reason .point {
	margin-bottom: 85px;
}

@media only screen and (max-width: 750px) {
	.reason .point {
		margin-bottom: calc(85 / 750 * 100vw);
	}
}

.reason .jikkan {
	background: url(../images/refund_bg.png) no-repeat center bottom/ 100%;
}

.scroll {
	width: calc(161/750 * 100vw);
	max-width: 161px;
	margin: 0 auto 10.5%;
}

.reason_chart::-webkit-scrollbar {
	display: none;
}

.face_to {
	background: url(../images/face_to_bg.png) no-repeat center bottom/ 100% #fff;
}

.flow {
	background: url(../images/flow_bg.png) no-repeat top 15.4% center/ 100% #fff;
}

.clinic {
	background: #fff;
}

.clinic iframe {
	margin: 0 auto 5%;
	width: calc(670/750 * 100vw);
	max-width: 670px;
	height: calc(400/750 * 100vw);
	max-height: 400px;
}

.clinic_info {
	padding: 0 5%;
	margin: 0 auto 3.5%;
}

.clinic h3 {
	margin: 0 5.8% 5%;
	font-size: min(calc(33/750 * 100vw), 33px);
	font-weight: bold;
	border-left: min(calc(6/750 * 100vw), 6px) solid #033267;
	color: #033267;
	text-align: left;
	padding-left: 3%;
}

.clinic_info dl {
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	font-size: min(calc(24/750 * 100vw), 24px);
}

.clinic_info dt {
	flex-basis: 22%;
	color: #033267;
	border-bottom: 1px solid #ccc;
	text-align: left;
	padding: 0.8% 0 1.5% 0.8%;
	margin: 0 auto 2%;
}

.clinic_info dd {
	flex-basis: 78%;
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	text-align: left;
	padding: 0 0 1.5%;
	margin: 0 auto 2%;
}

.clinic_info dl dt:last-of-type,
.clinic_info dd:last-child {
	border-bottom: none
}

.clinic_btn {
	margin: 0 auto;
	max-width: 560px;
	width: calc(560/750 * 100vw);
	text-align: center;
	margin-bottom: 11%;
}

.clinic div:last-of-type .clinic_btn {
	margin-bottom: 0;
}

footer {
	margin-bottom: 140px;
	padding: 2% 0;
	color: #fff;
	font-size: min(calc(24/750 * 100vw), 24px);
	background: #033267;
}

@media only screen and (max-width: 750px) {
	footer {
		margin-bottom: calc(140 / 750 * 100vw);
	}
}

.relative_box {
	position: relative;
}

/*--------------------------------------------------------------------------
plan
---------------------------------------------------------------------------*/
.plan{
	background: url(../images/plan_bg.png) no-repeat center top/ 100%;
}
.list {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
}

.list {
	width: calc(670/750 * 100vw);
	max-width: 670px;
}

.list_item-note {
	margin-top: 30px;
	font-size: 24px;
	text-align: left;
}

@media only screen and (max-width: 750px) {
	.list_item-note {
		margin-top: calc(30 / 750 * 100vw);
		font-size: calc(24 / 750 * 100vw);
	}
}

.search-box {
	display: block;
	position: relative;
}

.select_cont {
	width: calc(620/750 * 100vw);
	max-width: 620px;
	display: flex;
	justify-content: space-between;
	position: absolute;
	top: 47%;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
}

.search-box_label {
	font-weight: bold;
}

.is-hide {
	display: none;
}

.is-disable {
	pointer-events: none;
}

.is-disable+.label {
	pointer-events: none;
	border-color: #ccc;
	background-color: #ccc;
}

input[type=radio] {
	display: none;
}

.label {
	text-align: center;
	line-height: 1;
	cursor: pointer;
	border: #033267 solid min(calc(3/750 * 100vw), 3px);
	border-radius: 40px;
	font-size: min(calc(30/750 * 100vw), 30px);
	font-weight: 500;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2.6% 5.2%;
	color: #033267;
}

.label:last-child {
	padding: 2.6% 3.8%;
}

.label--none {
	display: none;
}

input[type="radio"]:checked + label {
	background: #033267;
	color: #ffffff;
}

form .search-box:nth-child(2) .select_cont {
	top: 50%;
}

form .search-box:nth-child(2) .label:last-child {
	padding: 2.6% 6%;
}

.label:hover {
	background: #033267;
	color: #ffffff;
}

.search-box .ttl01 {
	width: 100%;
	position: absolute;
	top: 21%;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	font-size: min(calc(36/750 * 100vw), 36px);
	font-weight: 600;
	text-align: center;
	color: #033267;
	letter-spacing: min(calc(2/750 * 100vw), 2px);
}

.abs_top {
	position: absolute;
	top: 0;
}


/*==================================================
ふわっ
===================================*/


/* fadeUp */

.fadeUp {
	animation: fadeUpAnime 1.5s ease 0s 1 forwards;
	;
	opacity: 0;
}

@keyframes fadeUpAnime {
	from {
		opacity: 0;
		transform: translateY(100px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}


/* スクロールをしたら出現する要素にはじめに透過0を指定　*/

.fadeUpTrigger {
	opacity: 0;
}

/* ------ move_btn_anime ------ */
@keyframes move_btn {

	20%,
	53%,
	80%,
	from,
	to {
		transform: translate3d(0, 0, 0);
		animation-timing-function: cubic-bezier(.215, .61, .355, 1);
	}

	40%,
	43% {
		transform: translate3d(0, -10px, 0);
		animation-timing-function: cubic-bezier(.755, .050, .855, .060);
	}

	70% {
		transform: translate3d(0, -4px, 0);
		animation-timing-function: cubic-bezier(.755, .050, .855, .060);
	}

	90% {
		transform: translate3d(0, 0, 0);
	}
}


/* 20240130 追加 */
/* ------ メールフォーム ------ */
.Form .form_title {
	font-size: 38px;
  color: #00326a;
  font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "HG明朝L", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
  text-align: center;
  margin-bottom: 3rem;
  margin-top: 0;
  font-weight: inherit;
}

.Form {
  padding: 80px 0;
  background: #f1f3f6;
}

.Form .container {
  max-width: 1030px;
  width: 100%;
  margin: 0 auto;
  padding-inline: 15px;
}

.Form .bg-white {
  padding: 30px 0 50px;
  background: #fff;
}

.Form .form_area table {
  width: 90%;
  margin: 0px auto;
	font-size: 20px;
}

.Form .form_area table tr {
  border-bottom: 1px solid #dcdcdc;
	display: flex;
	align-items: flex-start;
}

.Form .form_area table th {
  font-weight: 500;
  padding: 25px 0;
  text-align: left;
	display: flex;
	align-items: center;
	width: 38%;
	line-height: 56px;
}

.Form .form_area table th span {
  background: #ede5cb;
  border-radius: 5px;
  padding: 2px 15px;
	margin-right: 8px;
	line-height: 34px;
}

.Form .form_area table th span.any {
	background: #fff;
	border: 1px solid #000;
}

.Form .form_area table td {
  padding: 25px 0 25px 25px;
  width: 64%;
	text-align: left;
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.Form .form_area table td p,
.Form .form_area table td span {
	font-size: 14px;
}

.Form .form_area table td span {
	color: #6D6D6D;
}

.Form .form_area table select {
  border: 1px solid #b5b5b5;
  padding: 15px;
  max-width: 140px;
	width: 100%;
  background: url("../images/arr2.png") no-repeat, #fff;
  background-position: 90% center;
  appearance: none;
}

.Form .form_area table select::after {
  content: "▼";
}

.Form .form_area .max_in {
  border: 1px solid #EEEEEE;
  background: #eeeeee;
  padding: 15px 10px;
  border-radius: 5px;
	font-size: 16px;
  width: 100%;
}

.Form .form_area .max_in.age {
  width: 20%;
  margin-right: 20px;
}

.Form .form_area .max_in.age span {
  vertical-align: bottom;
}

.Form .text-center {
  text-align: center;
}

.Form .form_area button {
  background: #b6a158;
  color: #fff;
  width: 100%;
  max-width: 405px;
  padding: 15px;
  font-size: 28px;
  font-weight: bold;
  margin-top: 40px;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-appearance: button;
}

div#mfp_phase_confirm div#mfp_phase_confirm_inner {
  width: 90%;
  margin: 0px auto;
}

div#mfp_phase_confirm h4 {
  font-size: 1.92rem;
  padding: 0 0 1.6rem;
}

table#mfp_confirm_table tr th,
table#mfp_confirm_table tr td {
  padding: 1.6rem;
  font-size: 1.8rem;
}

div.mfp_buttons {
  display: flex;
}

div.mfp_buttons button#mfp_button_cancel {
  background: #525252;
}

@media (max-width: 750px) {
  .Form {
    padding: 30px 0;
  }

  .Form .form_title {
    font-size: 2.88rem;
    margin-bottom: 1.6rem;
  }

  .Form .form_area table {
    width: 90%;
    margin: 0px auto;
    font-size: 1.28rem;
  }

  .Form .bg-white {
    padding: 30px 0;
  }

  .Form .form_area table th,
  .Form .form_area table td {
    width: 100%;
    padding: 0 0 10px 0;
		justify-content: flex-start;
  }

	.Form .form_area table td p {
		font-weight: 700;
		font-size: 1.2rem;
	}

	.Form .form_area table td span {
		font-size: 1.1rem;
	}

  .Form .form_area table tr {
		border: none;
		flex-direction: column;
  }

  .Form .form_area table th {
		line-height: 1.5;
	}

  .Form .form_area table th span {
		flex-shrink: 0;
		line-height: 1.5;
  }

  .Form .form_area .max_in {
    padding: 5px 10px;
    font-size: 1.6rem;
  }

  .Form .form_area button {
    font-size: 1.6rem;
    margin: 1.6rem auto 0;
    width: 90%;
    max-width: 100%;
  }

  table#mfp_confirm_table tr.mfp_colored {
    background: #fff;
  }
}
